body{
    margin: 0%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: gainsboro;
    position: fixed;
    overflow: auto;
    border: 1px solid rgb(143, 141, 141);
}
li{
    text-align: center;
    border: 1px solid rgb(143, 141, 141);
}
li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a.activo{
    background-color: paleturquoise;
    color: white;
}
li a:hover:not(.activo){
    background-color: rgb(143, 141, 141);
    color: white;
}